version: "3.8"

services:
  backend:
    container_name: finance-backend
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
  
  mysql:
    image: mysql:8.0
    container_name: finance-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: finance_db
      MYSQL_USER: finance_user
      MYSQL_PASSWORD: password123
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
