@import "tailwindcss";

@import url('[https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap](https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap)');

@theme {
  --font-sans: "Plus Jakarta Sans", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Di v4, ini otomatis membuat class seperti bg-brand-500, text-brand-500, dll */
  
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #10b981; /* Emerald 500 */
  --color-brand-600: #059669;
  --color-brand-900: #064e3b;

  --color-dark-800: #1e293b; /* Slate 800 */
  --color-dark-900: #0f172a; /* Slate 900 */
}

/* Custom Utilities (Opsional) */
@utility glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}